In [18]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

pd.set_option('max_columns',1000)
pd.set_option('max_row',300)

In [37]:
dataTrain = pd.read_csv('data/spaceship-titanic/train.csv')
dataTest = pd.read_csv('data/spaceship-titanic/test.csv')
dataTrain.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [38]:
df = dataTrain
df[['Deck', 'Num', 'Side']] = df['Cabin'].str.split('/', expand=True)
df[['PGroup','PNr']] = df['PassengerId'].str.split('_', expand=True)
df.drop(['Cabin', 'PassengerId'], axis=1, inplace=True) # same as df.drop(columns=['Cabin', 'PassengerId'], inplace=True)
df.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Deck,Num,Side,PGroup,PNr
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,B,0,P,0001,01
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,F,0,S,0002,01
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,A,0,S,0003,01
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,A,0,S,0003,02
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,F,1,S,0004,01

In [39]:
df['Destination'].unique(), df['HomePlanet'].unique()

(array(['TRAPPIST-1e', 'PSO J318.5-22', '55 Cancri e', nan], dtype=object),
 array(['Europa', 'Earth', 'Mars', nan], dtype=object))

In [40]:
df = pd.get_dummies(df, columns=['HomePlanet', 'Destination'])
df.head()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Deck,Num,Side,PGroup,PNr,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,False,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,B,0,P,0001,01,0,1,0,0,0,1
1,False,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,F,0,S,0002,01,1,0,0,0,0,1
2,False,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,A,0,S,0003,01,0,1,0,0,0,1
3,False,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,A,0,S,0003,02,0,1,0,0,0,1
4,False,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,F,1,S,0004,01,1,0,0,0,0,1

In [41]:
df = pd.get_dummies(df, columns=['CryoSleep', 'VIP', 'Side', 'Deck'])
df.drop(['Name'], axis=1, inplace=True)
df.head()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Num,PGroup,PNr,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,CryoSleep_False,CryoSleep_True,VIP_False,VIP_True,Side_P,Side_S,Deck_A,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_T
0,39.0,0.0,0.0,0.0,0.0,0.0,False,0,0001,01,0,1,0,0,0,1,1,0,1,0,1,0,0,1,0,0,0,0,0,0
1,24.0,109.0,9.0,25.0,549.0,44.0,True,0,0002,01,1,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0,1,0,0
2,58.0,43.0,3576.0,0.0,6715.0,49.0,False,0,0003,01,0,1,0,0,0,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0
3,33.0,0.0,1283.0,371.0,3329.0,193.0,False,0,0003,02,0,1,0,0,0,1,1,0,1,0,0,1,1,0,0,0,0,0,0,0
4,16.0,303.0,70.0,151.0,565.0,2.0,True,1,0004,01,1,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0,1,0,0

In [42]:
df['Num'] = df['Num'].astype('float')
df['PNr'] = df['PNr'].astype('int')
df['PGroup'] = df['PGroup'].astype('float')
df.head()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Num,PGroup,PNr,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,CryoSleep_False,CryoSleep_True,VIP_False,VIP_True,Side_P,Side_S,Deck_A,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_T
0,39.0,0.0,0.0,0.0,0.0,0.0,False,0.0,1.0,1,0,1,0,0,0,1,1,0,1,0,1,0,0,1,0,0,0,0,0,0
1,24.0,109.0,9.0,25.0,549.0,44.0,True,0.0,2.0,1,1,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0,1,0,0
2,58.0,43.0,3576.0,0.0,6715.0,49.0,False,0.0,3.0,1,0,1,0,0,0,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0
3,33.0,0.0,1283.0,371.0,3329.0,193.0,False,0.0,3.0,2,0,1,0,0,0,1,1,0,1,0,0,1,1,0,0,0,0,0,0,0
4,16.0,303.0,70.0,151.0,565.0,2.0,True,1.0,4.0,1,1,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0,1,0,0

In [43]:
df.isna().sum()

Age                          179
RoomService                  181
FoodCourt                    183
ShoppingMall                 208
Spa                          183
VRDeck                       188
Transported                    0
Num                          199
PGroup                         0
PNr                            0
HomePlanet_Earth               0
HomePlanet_Europa              0
HomePlanet_Mars                0
Destination_55 Cancri e        0
Destination_PSO J318.5-22      0
Destination_TRAPPIST-1e        0
CryoSleep_False                0
CryoSleep_True                 0
VIP_False                      0
VIP_True                       0
Side_P                         0
Side_S                         0
Deck_A                         0
Deck_B                         0
Deck_C                         0
Deck_D                         0
Deck_E                         0
Deck_F                         0
Deck_G                         0
Deck_T                         0
dtype: int64

In [44]:
df.mean(axis=0)  # 0 是指的行，对所有行进行平均，得到的是每一列的均值

Age                            28.827930
RoomService                   224.687617
FoodCourt                     458.077203
ShoppingMall                  173.729169
Spa                           311.138778
VRDeck                        304.854791
Transported                     0.503624
Num                           600.367671
PGroup                       4633.389624
PNr                             1.517773
HomePlanet_Earth                0.529391
HomePlanet_Europa               0.245140
HomePlanet_Mars                 0.202347
Destination_55 Cancri e         0.207063
Destination_PSO J318.5-22       0.091568
Destination_TRAPPIST-1e         0.680433
CryoSleep_False                 0.625676
CryoSleep_True                  0.349362
VIP_False                       0.953756
VIP_True                        0.022892
Side_P                          0.483838
Side_S                          0.493270
Deck_A                          0.029449
Deck_B                          0.089612
Deck_C                          0.085931
Deck_D                          0.054987
Deck_E                          0.100771
Deck_F                          0.321408
Deck_G                          0.294375
Deck_T                          0.000575
dtype: float64

In [29]:
df.median(axis=0)

Age                            27.0
RoomService                     0.0
FoodCourt                       0.0
ShoppingMall                    0.0
Spa                             0.0
VRDeck                          0.0
Transported                     1.0
Num                           427.0
PGroup                       4630.0
PNr                             1.0
HomePlanet_Earth                1.0
HomePlanet_Europa               0.0
HomePlanet_Mars                 0.0
Destination_55 Cancri e         0.0
Destination_PSO J318.5-22       0.0
Destination_TRAPPIST-1e         1.0
CryoSleep_False                 1.0
CryoSleep_True                  0.0
VIP_False                       1.0
VIP_True                        0.0
Side_P                          0.0
Side_S                          0.0
Deck_A                          0.0
Deck_B                          0.0
Deck_C                          0.0
Deck_D                          0.0
Deck_E                          0.0
Deck_F                          0.0
Deck_G                          0.0
Deck_T                          0.0
dtype: float64

In [45]:
df.fillna(df.median(axis=0), inplace=True)
df.isna().sum()

Age                          0
RoomService                  0
FoodCourt                    0
ShoppingMall                 0
Spa                          0
VRDeck                       0
Transported                  0
Num                          0
PGroup                       0
PNr                          0
HomePlanet_Earth             0
HomePlanet_Europa            0
HomePlanet_Mars              0
Destination_55 Cancri e      0
Destination_PSO J318.5-22    0
Destination_TRAPPIST-1e      0
CryoSleep_False              0
CryoSleep_True               0
VIP_False                    0
VIP_True                     0
Side_P                       0
Side_S                       0
Deck_A                       0
Deck_B                       0
Deck_C                       0
Deck_D                       0
Deck_E                       0
Deck_F                       0
Deck_G                       0
Deck_T                       0
dtype: int64

In [47]:
df['Transported'] = df['Transported'].astype('int')

In [48]:
lables = df.pop('Transported')

In [53]:
df - df.min()
df.max() - df.min()

Age                             79.0
RoomService                  14327.0
FoodCourt                    29813.0
ShoppingMall                 23492.0
Spa                          22408.0
VRDeck                       24133.0
Num                           1894.0
PGroup                        9279.0
PNr                              7.0
HomePlanet_Earth                 1.0
HomePlanet_Europa                1.0
HomePlanet_Mars                  1.0
Destination_55 Cancri e          1.0
Destination_PSO J318.5-22        1.0
Destination_TRAPPIST-1e          1.0
CryoSleep_False                  1.0
CryoSleep_True                   1.0
VIP_False                        1.0
VIP_True                         1.0
Side_P                           1.0
Side_S                           1.0
Deck_A                           1.0
Deck_B                           1.0
Deck_C                           1.0
Deck_D                           1.0
Deck_E                           1.0
Deck_F                           1.0
Deck_G                           1.0
Deck_T                           1.0
dtype: float64

In [54]:
df_norm = (df - df.min()) / (df.max() - df.min())
df_norm

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Num,PGroup,PNr,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,CryoSleep_False,CryoSleep_True,VIP_False,VIP_True,Side_P,Side_S,Deck_A,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_T
0,0.493671,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.303797,0.007608,0.000302,0.001064,0.024500,0.001823,0.000000,0.000108,0.000000,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.734177,0.003001,0.119948,0.000000,0.299670,0.002030,0.000000,0.000216,0.000000,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.417722,0.000000,0.043035,0.015793,0.148563,0.007997,0.000000,0.000216,0.142857,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.202532,0.021149,0.002348,0.006428,0.025214,0.000083,0.000528,0.000323,0.000000,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,0.518987,0.000000,0.228726,0.000000,0.073322,0.003066,0.051742,0.999569,0.000000,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8689,0.227848,0.000000,0.000000,0.000000,0.000000,0.000000,0.791447,0.999784,0.000000,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8690,0.329114,0.000000,0.000000,0.079687,0.000045,0.000000,0.791975,0.999892,0.000000,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8691,0.405063,0.000000,0.035186,0.000000,0.015753,0.134049,0.321014,1.000000,0.000000,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8692,0.556962,0.008795,0.157247,0.000000,0.000000,0.000497,0.321014,1.000000,0.142857,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [72]:
import torch
from torch.utils.data import Dataset

class dataset(Dataset):
    def __init__(self, xdata, ydata):
        self.labels = ydata
        self.inputs = xdata

    def __getitem__(self, index):
        
        return torch.tensor(self.inputs.iloc[index], dtype=torch.float), torch.tensor(self.labels.iloc[index], dtype=torch.float)

    def __len__(self):
        return len(self.inputs)


dset = dataset(df_norm, lables)

(tensor([2.0253e-01, 2.1149e-02, 2.3480e-03, 6.4277e-03, 2.5214e-02, 8.2874e-05,
        5.2798e-04, 3.2331e-04, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 1.0000e+00, 1.0000e+00, 0.0000e+00, 1.0000e+00,
        0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00]), tensor(1.))

In [92]:
import torch
import torch.nn as nn
from torch.utils.data import DataLoader


class NeuralNetwork(nn.Module):
    def __init__(self, input_dim, output_dim):
        super(NeuralNetwork, self).__init__()
        self.linear = nn.Sequential(
            nn.Linear(input_dim, 200),
            nn.ReLU(),
            nn.Linear(200, 100),
            nn.ReLU(),
            nn.Linear(100, output_dim),
            nn.Sigmoid()
        )

    def forward(self, x):
        y_pred = self.linear(x)
        return y_pred.squeeze(-1)



model = NeuralNetwork(df_norm.shape[1], 1)

learning_rate = 0.1
batch_size = 64
epochs = 10

loss_fn = nn.BCELoss()

optimizer = torch.optim.SGD(model.parameters(), lr=learning_rate)

train_dataloader = DataLoader(dset, batch_size=64, shuffle=True)

train_features, train_labels = next(iter(train_dataloader))

def train_loop(dataloader, model, loss_fn, optimizer):
    size = len(dataloader.dataset)
    for batch, (X, y) in enumerate(dataloader):
        # Compute prediction and loss
        pred = model(X)
        loss = loss_fn(pred, y)

        # Backpropagation
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

        if batch % 10 == 0:
            
            loss, current = loss.item(), batch * len(X)
            print(f"loss: {loss:>7f}  [{current:>5d}/{size:>5d}]")

for t in range(epochs):
    print(f"Epoch {t+1}\n-------------------------------")
    train_loop(train_dataloader, model, loss_fn, optimizer)
print("Done!")

Epoch 1
-------------------------------
loss: 0.704703  [    0/ 8693]
loss: 0.673607  [  640/ 8693]
loss: 0.675675  [ 1280/ 8693]
loss: 0.668606  [ 1920/ 8693]
loss: 0.658961  [ 2560/ 8693]
loss: 0.664185  [ 3200/ 8693]
loss: 0.640657  [ 3840/ 8693]
loss: 0.616683  [ 4480/ 8693]
loss: 0.624330  [ 5120/ 8693]
loss: 0.614999  [ 5760/ 8693]
loss: 0.564074  [ 6400/ 8693]
loss: 0.514775  [ 7040/ 8693]
loss: 0.482620  [ 7680/ 8693]
loss: 0.588016  [ 8320/ 8693]
Epoch 2
-------------------------------
loss: 0.578636  [    0/ 8693]
loss: 0.719678  [  640/ 8693]
loss: 0.583759  [ 1280/ 8693]
loss: 0.596316  [ 1920/ 8693]
loss: 0.492659  [ 2560/ 8693]
loss: 0.557270  [ 3200/ 8693]
loss: 0.502908  [ 3840/ 8693]
loss: 0.580863  [ 4480/ 8693]
loss: 0.541115  [ 5120/ 8693]
loss: 0.619494  [ 5760/ 8693]
loss: 0.559852  [ 6400/ 8693]
loss: 0.475831  [ 7040/ 8693]
loss: 0.546646  [ 7680/ 8693]
loss: 0.572882  [ 8320/ 8693]
Epoch 3
-------------------------------
loss: 0.525441  [    0/ 8693]
loss: 0.551595  [  640/ 8693]
loss: 0.507846  [ 1280/ 8693]
loss: 0.526221  [ 1920/ 8693]
loss: 0.495771  [ 2560/ 8693]
loss: 0.515434  [ 3200/ 8693]
loss: 0.536043  [ 3840/ 8693]
loss: 0.473573  [ 4480/ 8693]
loss: 0.609263  [ 5120/ 8693]
loss: 0.551983  [ 5760/ 8693]
loss: 0.564249  [ 6400/ 8693]
loss: 0.576609  [ 7040/ 8693]
loss: 0.535299  [ 7680/ 8693]
loss: 0.607569  [ 8320/ 8693]
Epoch 4
-------------------------------
loss: 0.482842  [    0/ 8693]
loss: 0.564898  [  640/ 8693]
loss: 0.507894  [ 1280/ 8693]
loss: 0.489816  [ 1920/ 8693]
loss: 0.522227  [ 2560/ 8693]
loss: 0.572924  [ 3200/ 8693]
loss: 0.539024  [ 3840/ 8693]
loss: 0.588804  [ 4480/ 8693]
loss: 0.483121  [ 5120/ 8693]
loss: 0.601276  [ 5760/ 8693]
loss: 0.582566  [ 6400/ 8693]
loss: 0.580092  [ 7040/ 8693]
loss: 0.626733  [ 7680/ 8693]
loss: 0.573756  [ 8320/ 8693]
Epoch 5
-------------------------------
loss: 0.430930  [    0/ 8693]
loss: 0.482575  [  640/ 8693]
loss: 0.618272  [ 1280/ 8693]
loss: 0.445221  [ 1920/ 8693]
loss: 0.563193  [ 2560/ 8693]
loss: 0.508252  [ 3200/ 8693]
loss: 0.571171  [ 3840/ 8693]
loss: 0.481892  [ 4480/ 8693]
loss: 0.475585  [ 5120/ 8693]
loss: 0.484986  [ 5760/ 8693]
loss: 0.409653  [ 6400/ 8693]
loss: 0.423150  [ 7040/ 8693]
loss: 0.522309  [ 7680/ 8693]
loss: 0.578749  [ 8320/ 8693]
Epoch 6
-------------------------------
loss: 0.483950  [    0/ 8693]
loss: 0.595058  [  640/ 8693]
loss: 0.521328  [ 1280/ 8693]
loss: 0.552778  [ 1920/ 8693]
loss: 0.530119  [ 2560/ 8693]
loss: 0.491669  [ 3200/ 8693]
loss: 0.495001  [ 3840/ 8693]
loss: 0.581089  [ 4480/ 8693]
loss: 0.566962  [ 5120/ 8693]
loss: 0.580890  [ 5760/ 8693]
loss: 0.596746  [ 6400/ 8693]
loss: 0.466117  [ 7040/ 8693]
loss: 0.618107  [ 7680/ 8693]
loss: 0.484715  [ 8320/ 8693]
Epoch 7
-------------------------------
loss: 0.510510  [    0/ 8693]
loss: 0.490147  [  640/ 8693]
loss: 0.537394  [ 1280/ 8693]
loss: 0.477089  [ 1920/ 8693]
loss: 0.396363  [ 2560/ 8693]
loss: 0.490844  [ 3200/ 8693]
loss: 0.491189  [ 3840/ 8693]
loss: 0.500660  [ 4480/ 8693]
loss: 0.513541  [ 5120/ 8693]
loss: 0.519421  [ 5760/ 8693]
loss: 0.523732  [ 6400/ 8693]
loss: 0.547029  [ 7040/ 8693]
loss: 0.504854  [ 7680/ 8693]
loss: 0.465978  [ 8320/ 8693]
Epoch 8
-------------------------------
loss: 0.498810  [    0/ 8693]
loss: 0.437324  [  640/ 8693]
loss: 0.570124  [ 1280/ 8693]
loss: 0.524244  [ 1920/ 8693]
loss: 0.537045  [ 2560/ 8693]
loss: 0.525685  [ 3200/ 8693]
loss: 0.413818  [ 3840/ 8693]
loss: 0.522915  [ 4480/ 8693]
loss: 0.453202  [ 5120/ 8693]
loss: 0.654831  [ 5760/ 8693]
loss: 0.521975  [ 6400/ 8693]
loss: 0.468018  [ 7040/ 8693]
loss: 0.539632  [ 7680/ 8693]
loss: 0.425753  [ 8320/ 8693]
Epoch 9
-------------------------------
loss: 0.432227  [    0/ 8693]
loss: 0.485220  [  640/ 8693]
loss: 0.440267  [ 1280/ 8693]
loss: 0.488839  [ 1920/ 8693]
loss: 0.548883  [ 2560/ 8693]
loss: 0.446968  [ 3200/ 8693]
loss: 0.514920  [ 3840/ 8693]
loss: 0.503452  [ 4480/ 8693]
loss: 0.496551  [ 5120/ 8693]
loss: 0.486329  [ 5760/ 8693]
loss: 0.584325  [ 6400/ 8693]
loss: 0.463724  [ 7040/ 8693]
loss: 0.486890  [ 7680/ 8693]
loss: 0.394422  [ 8320/ 8693]
Epoch 10
-------------------------------
loss: 0.553672  [    0/ 8693]
loss: 0.486636  [  640/ 8693]
loss: 0.485659  [ 1280/ 8693]
loss: 0.463003  [ 1920/ 8693]
loss: 0.461274  [ 2560/ 8693]
loss: 0.638423  [ 3200/ 8693]
loss: 0.523042  [ 3840/ 8693]
loss: 0.490042  [ 4480/ 8693]
loss: 0.463740  [ 5120/ 8693]
loss: 0.519611  [ 5760/ 8693]
loss: 0.545409  [ 6400/ 8693]
loss: 0.486984  [ 7040/ 8693]
loss: 0.421416  [ 7680/ 8693]
loss: 0.567107  [ 8320/ 8693]
Done!